<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Flask App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='dist/output.css') }}">    
</head>
<body class="bg-gray-100">
    <script>
        setTimeout(function(){
            window.location.href = "{{redirect}}";
        }, {{delay}});
    </script>
	<h1 class="text-2xl">Form Submitted</h1>
	<p class="text-gray-700 font-bold mb-2">
        Thank you for submitting the form {{ first_name }} {{ last_name }} !
    </p>
</body>
</html>
